.app {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 1rem 0;
}

.app .card {
  color: black;
  width: 100%;
  height: 9rem;
  display: grid;
  grid-template-columns: 3fr 7fr;
  grid-row: 1fr;
  transition: all 0.25s ease;
  border-radius: 1rem;
}

.app .card:hover {
  box-shadow: 0px 15px 15px 0px rgba(0, 0, 0, 0.2);
  transform: scale(1.01);
}

.app .card .image {
  grid-column: 1/2;
  grid-row: 1/2;
  margin: 1rem;
  border-radius: 1rem;
}
.app .card .text {
  grid-column: 2/3;
  grid-row: 1/2;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.app .card .text .name {
  font-size: 1.5rem;
  font-weight: bold;
}

.app .card .text .icons {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.app .card .text .icons a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  padding: 0.6rem 0.9rem;
  border: none;
  background-color: var(--color3);
  border-radius: 0.5rem;
  margin-right: 1rem;
  display: flex;
  align-items: center;
}

.app .card .text .icons a:hover {
  text-decoration: underline;
}

@media (max-width: 750px) {
  .app .card {
    height: 18rem;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
  }

  .app .card .image {
    grid-column: 1/2;
    grid-row: 1/2;
    margin: 0.5rem;
  }
  .app .card .text {
    grid-column: 1/2;
    grid-row: 2/3;
    text-align: center;
  }

  .app .card .text .icons {
    justify-content: center;
    flex-wrap: wrap;
  }
}
