.app {
  width: 100%;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.app .container {
  width: 100%;
  height: 100%;
  background-image: url("../../../../public/bg1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  transform: skewY(-10deg);
  transform-origin: bottom;
  display: flex;
  color: white;
  align-items: center;
}

.app .container .content {
  transform: skewY(10deg); /* Inversa de la inclinación del .container */
  transform-origin: bottom;
}
