.app {
  width: 100%;
  height: calc(100vh - var(--header-height));
  background-image: url("../../../../public/bg5.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: "100% 100%";
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: 1fr;
}

.app .left {
  grid-column: 1/7;
  grid-row: 1;
  display: flex;
  align-items: center;
}

.app .greeting {
  color: black;
  font-weight: bold;
}

.app .greeting .phrase {
  font-family: "Bebas Neue", sans-serif;
  font-size: 4rem;
}

.app .greeting .phrase .textCursor {
  position: absolute;
  height: 1.2em; /* Ajusta la altura de la barra parpadeante */
  width: 2px; /* Ajusta el ancho de la barra parpadeante */
  background-color: #000;
  animation: blink-caret 1s step-end infinite;
}

@keyframes blink-caret {
  from,
  to {
    background-color: transparent;
  }
  50% {
    background-color: #000;
  }
}

.app .greeting .name {
  font-size: 2rem;
}

.app .greeting .description {
  font-size: 2rem;
  color: #3f72af;
}

.app .right {
  grid-column: 7/-1;
  grid-row: 1;
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
}

.app .photo {
  width: 75%;
  padding-bottom: 75%;
  border-radius: 50%;
  background-image: url("../../../../public/perfil2.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border: 3px solid white;
}
