@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Staatliches&display=swap");

:root {
  --header-height: 4rem;
  --padding: 10%;
  --color-1: #415d65;
  --color-2: #fab001;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin-top: var(--header-height);
  font-family: "Comfortaa", cursive;
  font-size: 16px;
}
